.bbb_advs {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px
}

.bbb_adv {
    width: 100%;
    height: 180px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1)
}

.bbb_adv_content {
    padding-left: 30px
}

.bbb_adv_subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 26px
}

.bbb_adv_title a {
    font-size: 18px;
    font-weight: 500;
    color: #000000
}

.bbb_adv_title a:hover {
    color: #0e8ce4
}

.bbb_adv_title_2 a {
    font-size: 18px;
    font-weight: 500;
    color: #0e8ce4
}

.bbb_adv_title_2 a:hover {
    opacity: 0.8
}

.bbb_adv_text {
    color: #828282;
    margin-top: 10px;
    font-size: 14px
}

.bbb_adv_image {
    width: 178px;
    height: 100%
}

.bbb_adv_image img {
    display: block;
    max-width: 100%
}


.bbb_adv:hover
{ 
     box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .1s ease-in;
    cursor: pointer;
}